.img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.todos {
    width: 30%;
    margin: 0 auto;
    overflow-y: scroll;
    max-height: 52vh;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.todoItem {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    background-color: #EDECE7;
    cursor: pointer;
}
.todoItem:not(:last-of-type) {
    border-bottom: 1px solid #aaaaaa;
}
.title {
    display: flex; 
    gap: 1rem;
}
.titleText {
    display: inline-block;
    min-width: 10rem;
    width: 18rem;
    text-align: left;
    font-weight: 400;
    font-size: 16px;
    margin: 0;
}

.addTodo {
    display: flex;
    width: 28.5%;
    margin: 0 auto;
    gap: 10px;
    background-color: #424242a4;
    border-radius: 10px;
    margin-top: 1rem;
    padding: 10px 10px;
}
.addTodo input {
    width: 88%;
    color: white;
    font-size: 18px;
    background: transparent;
    border: none;
    outline: none;
}
.addTodo input::placeholder {
    color: rgb(202, 198, 198);
}