body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-align: center;
   font-family: poppins, sans-serif,system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-image: url("https://i.imgur.com/YgSfSQI.png");
    background-repeat: no-repeat;
    background-size: cover;
    height:100svh;
}
/* CSS for the scrollbar track */
::-webkit-scrollbar {
    width: 6px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: #f1f1f1;
  }
  
  /* CSS for the scrollbar thumb */
  ::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 3px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }
  
  /* CSS for the scrollbar corner */
  ::-webkit-scrollbar-corner {
    background-color: #f1f1f1;
  }