@tailwind base;
@tailwind components;
@tailwind utilities;

.button {
  @apply border-none outline-none p-[0.6%] rounded-[7px] text-sm my-4 cursor-pointer;
}

.auth-card {
  @apply max-w-sm w-full px-4 py-8 bg-white rounded-lg shadow-md;
}
.auth-input {
  @apply w-full px-3 py-2 border border-gray-300 rounded focus:outline-none focus:border-blue-500;
}
.auth-btn {
  @apply w-full px-4 py-2 text-sm mt-4 font-semibold text-white bg-blue-500 rounded cursor-pointer hover:bg-blue-600;
}
